@font-face {
  font-family: myFirstFont;
}

* {
  font-family: myFirstFont, monospace;
  lost-utility: clearfix;
}

html, body {
  margin: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  overflow-y: hidden;
}


